BOT_TOKEN=
SUPER_ADMIN_IDS=
DATABASE_URL=sqlite+aiosqlite:///employee_bot.db
PAYMENT_MODE=PAYOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_WEBHOOK_URL=https://DOMAIN-CUA-TOI.com/api/payos/webhook
PAYOS_RETURN_URL=https://DOMAIN-CUA-TOI.com/payment/success
PAYOS_CANCEL_URL=https://DOMAIN-CUA-TOI.com/payment/cancel
PAYOS_PAYMENT_EXPIRES_MINUTES=30
API_HOST=0.0.0.0
API_PORT=8080
